* { box-sizing: border-box; }

#fondo {
background-color: #b8bcbc;
text-align:center;
margin-top:-20px;
padding-top:10px;
height:800px;
display: block;
}

h2 {
  color:#fff;
}

h3 {
  color:#fff;
}

.cuadrado {
  padding:4px;
  display:inline-block;
  background-color: #b8bcbc;
  width:400px;
  height:100px;

}

#verde {
  width: 100px;
     height: 100px;
     border: 2px solid #555;
     background: #5cb85c;
     border-radius: 0 100% 0 0;
     float: right;

}

#rojo {
  width: 100px;
     height: 100px;
     border: 2px solid #555;
     background: red;
     border-radius: 0 100% 0 0;
     transform: rotate(-90deg);
}
